table {
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 5px;
}

.head {
  background-color: black;
  color: white;
}

.score {
  text-align: right;
}